BOT_TOKEN=
DATABASE_URL=postgresql://user:password@host:5432/db
GROUP_ID=-1003996641790
SUPER_ADMIN_IDS=5296696302
ADMIN_IDS=
TRUSTED_IDS=
TIMEZONE=Europe/Paris
BOT_VERSION=1.0.0
RULES_HOURS=2
SHARE_HOURS=3
SUGGESTION_HOURS=6
LEADERBOARD_HOURS=5
TOP_INVITERS_HOUR=12
